<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<style>
			span{
				font-weight : bold;
				color : red;
			}
			
			#btn{
				border : 1px solid black;
			}
			
			#btn:hover{
				background-color : black;
				color : #3d9cdd;
				border : 1px solid #3d9cdd;
			}
		</style>
	</head>
	<body>
		<div th:include="navbar.html"></div>
		<br>
		<form class="m-4" th:object="${records}" method="POST" onsubmit="return validation()" th:action="@{/hospital/updaterecord(doctor_id=${records.doctor_id})}">
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Doctor's name :</label>
		    <input th:field="*{doctor_name}" type="text" class="form-control" id="doctor_name">
		    <span id="dname"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Doctor's age :</label>
		    <input th:field="*{doctor_age}" type="text" class="form-control" id="doctor_age">
		    <span id="dage"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Doctor's gender :</label>
		    <input th:field="*{doctor_gender}" type="text" class="form-control" id="doctor_gender">
		    <span id="dgender"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Doctor's specialization :</label>
		    <input th:field="*{doctor_spec}" type="text" class="form-control" id="doctor_spec">
		    <span id="dspec"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Patient's name :</label>
		    <input th:field="*{patient_name}" type="text" class="form-control" id="patient_name">
		    <span id="pname"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Patient's age :</label>
		    <input th:field="*{patient_age}" type="text" class="form-control" id="patient_age">
		    <span id="page"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Patient's gender :</label>
		    <input th:field="*{patient_gender}" type="text" class="form-control" id="patient_gender">
		    <span id="pgender"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Disease name which patient is suffering from :</label>
		    <input th:field="*{patient_disease}" type="text" class="form-control" id="patient_disease">
		    <span id="pdisease"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Test performed on patient :</label>
		    <input th:field="*{test_name}" type="text" class="form-control" id="test_name">
		    <span id="tname"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Test Result :</label>
		    <input th:field="*{test_result}" type="text" class="form-control" id="test_result">
		    <span id="tresult"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Medicine given to patient :</label>
		    <input th:field="*{medicine_name}" type="text" class="form-control" id="medicine_name">
		    <span id="mname"></span>
		  </div>
		  <br>
		  <div class="mb-3">
		    <label for="exampleInputEmail1" class="form-label">Total Treatment Cost :</label>
		    <input th:field="*{total_cost}" type="text" class="form-control" id="total_cost">
		    <span id="tcost"></span>
		  </div>
		  <br>
		  <button type="submit" class="btn btn-primary" id="btn">Submit</button>
		</form>
		<script type="text/javascript">
			function validation(){
				var doctor_name=document.getElementById("doctor_name").value;
				var doctor_age=document.getElementById("doctor_age").value;
				var doctor_gender=document.getElementById("doctor_gender").value;
				var doctor_spec=document.getElementById("doctor_spec").value;
				var patient_name=document.getElementById("patient_name").value;
				var patient_age=document.getElementById("patient_age").value;
				var patient_gender=document.getElementById("patient_gender").value;
				var patient_disease=document.getElementById("patient_disease").value;
				var test_name=document.getElementById("test_name").value;
				var test_result=document.getElementById("test_result").value;
				var medicine_name=document.getElementById("medicine_name").value;
				var total_cost=document.getElementById("total_cost").value;
				if(doctor_name==""){
					document.getElementById("dname").innerHTML=" * * Doctor's name cannot be blank";
					return false;
				}
				if(doctor_name.slice(0,4)!="Dr. "){
					document.getElementById("dname").innerHTML=" * * Doctor's name must start with 'Dr. '";
					return false;
				}
				if(doctor_age==""){
					document.getElementById("dage").innerHTML=" * * Doctor's age cannot be blank";
					return false;
				}
				if(doctor_gender==""){
					document.getElementById("dgender").innerHTML=" * * Doctor's gender cannot be blank";
					return false;
				}
				if(doctor_spec==""){
					document.getElementById("dspec").innerHTML=" * * Doctor's specialization cannot be blank";
					return false;
				}
				if(patient_name==""){
					document.getElementById("pname").innerHTML=" * * Patient's name cannot be blank";
					return false;
				}
				if(patient_name.slice(0,4)!="Mr. "){
					document.getElementById("pname").innerHTML=" * * Patient's name must start with 'Mr. '";
					return false;
				}
				if(patient_age==""){
					document.getElementById("page").innerHTML=" * * Patient's age cannot be blank";
					return false;
				}
				if(patient_gender==""){
					document.getElementById("pgender").innerHTML=" * * Patient's gender cannot be blank";
					return false;
				}
				if(patient_disease==""){
					document.getElementById("pdisease").innerHTML=" * * Patient's disease cannot be blank";
					return false;
				}
				if(test_name==""){
					document.getElementById("tname").innerHTML=" * * Test name cannot be blank";
					return false;
				}
				if(test_result==""){
					document.getElementById("tresult").innerHTML=" * * Test result cannot be blank";
					return false;
				}
				if(medicine_name==""){
					document.getElementById("mname").innerHTML=" * * Medicine name cannot be blank";
					return false;
				}
				if((total_cost<=100)||(total_cost>=10000)){
					document.getElementById("tcost").innerHTML=" * * Total cost cannot be less than Rs. 100 and more than Rs. 10000";
					return false;
				}
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	</body>
</html>